p {
  margin: 0;
}

.appMain {
  display: flex;
  background-color: #9bb4eb;
  background-image: url("../assets/images/sppic.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50vh 30vh;
  height: 100vh;
  justify-content: center;
  align-content: center;
}

.mainInner {
  height: 100%;
  width: 100%;
  flex-direction: column;
}

.innerTop {
  height: 50%;
}

.numberofListsCont {
  height: 60%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.numberofListsText {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  color: whitesmoke;
  text-shadow: 2px 2px #000;
}

.chooseAmountText {
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  color: whitesmoke;
  text-shadow: 2px 2px #000;
  margin-bottom: 10px;
}

.innerBottom {
  display: flex;
  align-items: center;
  height: 50%;
}

.randomizeBtn {
  height: 20%;
  width: 100%;
  background-color: purple;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}

.optionNumberText {
  color: whitesmoke;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

.customNumberButtonCont {
  display: flex;
  height: 50%;
  justify-content: center;
  align-items: center;
}

.customNumberButton {
  display: flex;
  border: white 2px solid;
  border-radius: 100px;
  background-color: purple;
  justify-content: center;
  align-items: center;
}

.enterCustomNuberText {
  font-size: 16px;
  color: whitesmoke;
  margin: 10px;
}

.seeLatestListsBtn {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 5vw;
  border-width: 1px;
  border-color: whitesmoke;
}

.seeLatestListsText {
  color: whitesmoke;
  font-weight: 700;
  font-size: large;
}

.shareContentParagraph {
  position: absolute;
  z-index: 1;
  opacity: 0;
  top: 0;
  right: 0;
}

@media only screen and (min-width: 768px) {
  .numberofListsText {
    font-size: 50px;
  }
  .chooseAmountText {
    font-size: 35px;
  }
  .optionNumberText {
    font-size: 28px;
  }
  .enterCustomNuberText {
    font-size: 28px;
    margin: 20px;
  }
  .seeLatestListsBtn {
    padding: 5vw;
  }
  .seeLatestListsText {
    color: whitesmoke;
    font-size: xx-large;
  }
}

@media only screen and (min-width: 1025px) {
  .mainInner {
    width: 70%;
  }
  .seeLatestListsText {
    font-size: x-large;
  }
  .seeLatestListsBtn {
    padding: 1vw;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 700ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

