.customInputCont {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40%;
  flex-direction: column;
}

.customInput {
  width: 50%;
  height: 30%;
  background-color: rgba(0, 0, 0, 0.8);
  color: whitesmoke;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.backCustom {
  padding: 10px 20px;
  border: white 2px solid;
  border-radius: 100px;
  background-color: purple;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 14px;
  font-weight: 600;
}

@media only screen and (min-width: 768px) {
  .customInput {
    width: 30%;
    font-size: 30px;
  }
}

