.loadingCont {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.8);
}

.loadingText {
  color: whitesmoke;
  font-size: 18px;
}

.sk-spinner {
  transform: scale(0.8);
  margin-top: 50px;
}

@media only screen and (min-width: 768px) {
  .loadingText {
    font-size: 30px;
  }
}

