.optionsNumber {
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.singleOptionBtn {
  display: flex;
  flex: 1;
  height: 100%;
  justify-content: center;
  align-items: center;
  border-top: 2pt solid white;
  border-bottom: 2pt solid white;
  border-left: solid white;
  border-right: solid white;
  pointer-events: auto;
}

.optionNumberText {
  color: whitesmoke;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

@media only screen and (min-width: 768px) {
  .optionNumberText {
    font-size: 28px;
  }
}

