.secondScreenMainCont {
  display: flex;
  width: 80%;
  height: 80%;
  align-self: center;
  flex-direction: column;
}

.randomizedListsCont {
  flex: 10;
  background-color: rgba(0, 0, 0, 0.8);
}

.secondScreenBtns {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.secondScreenBtnsText {
  font-size: 16px;
  color: whitesmoke;
  font-weight: bold;
  margin-left: 10px;
}

.playlistNameText {
  color: whitesmoke;
  font-weight: bold;
  font-size: 16px;
  margin: 20px 0px;
  text-align: center;
}

.Toastify__toast {
  width: 85%;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .secondScreenBtnsText {
    font-size: 26px;
    margin-left: 15px;
  }
  .playlistNameText {
    font-size: 26px;
    margin: 30px 0px;
  }
  .Toastify__toast {
    width: 100%;
  }
}

@media only screen and (min-width: 1025px) {
  .secondScreenMainCont {
    width: 50%;
  }
  .playlistNameText {
    font-size: 27px;
  }
}

